# Python basics

In [1]:
4/2

2.0

In [2]:
4%2

0

In [3]:
5//2

2

In [4]:
5/2

2.5

In [6]:
#BODMASS -- Bracket , off, Division , Mutliplication and Substraction
5+3*2

11

In [10]:
# to find the datatype ..just use type()
type('tukesh')

str

In [12]:
#usage of variables
a=10
b=20
c=a+b
type(c)

int

In [14]:
#usage of boolean oeration
True or False

True

In [15]:
type(True and False)

bool

In [20]:
a=10
b=20
a+b>30 | a-b <10

True

In [23]:
### Strings
str1="My Name is Tukesh"

In [22]:
### tip ..dont use reserve keywords as variables like str,bool,int etc

In [24]:
str1

'My Name is Tukesh'

In [25]:
print(str1)

My Name is Tukesh

In [26]:
###Strings operations
str1='A good boy'
str2='A bad boy'

In [27]:
print(str1)
print(str2)

A good boy
A bad boy

In [28]:
str1+str2

'A good boyA bad boy'

In [29]:
str1+" "+str2

'A good boy A bad boy'

In [31]:
### Input Parameters ..By default all the inputs are treated as strings.
name=input('Enter you Name ?')
print(name)

Enter you Name ?Tukesh
Tukesh

In [33]:
### Add 2 numbers using Typecasting as the input is considered string by default
a=float(input("Enter the first number ? "))
b=float(input("Enter the second number ? "))
c=a+b
print("The out is ",c)

Enter the first number ? 22.1
Enter the second number ? 11.1
The out is  33.2

In [40]:
### String formatting
first_name=input("What is your first name ?")
last_name=input("What is you last name ?")
print("My first and last name is ",first_name,last_name)
print("My first name is {} and last name is {}".format(first_name,last_name))
print("My first name is {firstname} and last name is {lastname}".format(firstname=first_name,lastname=last_name))

What is your first name ?Tukesh
What is you last name ?Sonarghare
My first and last name is  Tukesh Sonarghare
My first name is Tukesh and last name is Sonarghare
My first name is Tukesh and last name is Sonarghare

# Variable Dynamic Typing

In [41]:
a=10.0
type(a)

float

In [42]:
a="Rudra"
type(a)

str

In [45]:
### Strong typing ..Concatanation of two different datatypes are not allowed and therefore it has to be converted.
print(1 + int('2'))
print("Tukesh" + str('1983'))

3
Tukesh1983

# Conditional statements

In [49]:
## If and elif
a=int(input("Enter the number1 = "))
b=int(input("Enter the number2 = "))
c=a-b
print("the output is",c)
if c<0:
    print("The number is negative")
else:
    print("The number is positive")

Enter the number1 = 21
Enter the number2 = 21
the output is 0
The number is positive

In [1]:
a=int(input("Enter the number1 = "))
b=int(input("Enter the number2 = "))
c=a-b
print("the output is",c)
if c<0:
    print("The number is negative")
elif c<20:
    print("The difference is ")
else:
    print("The number is positive")

Enter the number1 = 21
Enter the number2 = 200
the output is -179
The number is negative

# Data structures
1. List
2. Tuple
3. String
4. Dictionory
5. Sets

In [2]:
lst=[1,2,3,'Tuks','Rudra']

In [3]:
type(lst)

list

In [4]:
type(lst[3])

str

In [5]:
list([1,2,3,'Tuks','Rudra'])

[1, 2, 3, 'Tuks', 'Rudra']

In [1]:
lst.count(3)

NameError: name 'lst' is not defined

In [2]:
lst=[1,2,3,'Tuks','Rudra']

In [3]:
type(lst)

list

In [4]:
type(lst[3])

str

In [5]:
lst.append("INeuron")

In [6]:
lst[2]="Data Science"
print(lst)

[1, 2, 'Data Science', 'Tuks', 'Rudra', 'INeuron']

In [7]:
lst.append("Tuks")
lst.append("Tuks")
lst.append("Tuks")

In [8]:
lst.count("Tuks")

4

In [9]:
lst.count(4)

0

In [10]:
## Indexing
str="Tukesh"
str[3]

'e'